@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@300&display=swap');

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border:none;
    
}


body{
    font-family: 'Raleway',sans-serif;
}
.header{
    background-image: url(home1.jpg);
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-text{
    position: absolute;
    top:20%;
    left:8%;
    
}

.h1{
    font-size: 7rem;
    font-weight: bold;
    color:#343a40;
}

.h3{
    font-size: 3rem;
    color:#343a40;
}

.btn-start{
    display: inline-block;
    background-color: #343a40;
    color:#fff;
    padding: 10px 15px;
    border-top-left-radius:35px ;
    border-bottom-right-radius:35px ;
    position: relative;
    overflow: hidden;
    
}



.about{
    background-color: #f2f2f2;

}

.yorumlar{
    background-color: #f2f2f2;

}

.hrleaf{
    border: none;
    border-top:3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}

.igray{
    color: #343a40;
    position: relative;
    top:-55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.iwhite{
    color: #343a40;
    position: relative;
    top:-55px;
    font-size: 40px;
    border: 10px solid #fff;
    background-color: #fff;
}

.h2{
    font-weight: bold;
}

.ekipCard>img:hover{
    opacity: 0.8;
}

.contact-content{
    display: flex;
    justify-content: space-evenly;
}
.line{
    border: none;
    border-top: 3px solid #343a40 ;
    
}

@media only screen and (max-width:970px){
    .contact-content{
        flex-direction: column;
    }
}

/*************************************************************/

